<div class="container text-right">
    <div class="row add-space">
        <div class="col-sm-3 col-sm-offset-6">
            Subtotal:
        </div>
        <div class="col-sm-3">
            {{subTotal}}
        </div>
    </div>
    <div class="row add-space">
        <div class="col-sm-3 col-sm-offset-6">
            Shipping:
        </div>
        <div class="col-sm-3">
            {{shipping}}
        </div>
    </div>
    <div class="row add-space">
        <div class="col-sm-3 col-sm-offset-6">
            Total:
        </div>
        <div class="col-sm-3">
            {{total}}
        </div>
    </div>
    {{#if itemsInCart}}
        <div class="row add-space">
            <div class="col-sm-3 col-sm-offset-9">
                <button type="button" class="btn btn-primary">Check Out</button>
            </div>
        </div>
    {{/if}}
</div>