<div class="container text-right">
	{{#if itemsInCart}}
		<div class="row add-space">
			<div class="col-sm-3 col-sm-offset-6">
				Subtotal:
			</div>
			<div class="col-sm-3">
				{{subTotal}}
			</div>
		</div>
		<div class="row add-space">
			<div class="col-sm-3 col-sm-offset-6">
				Shipping:
			</div>
			<div class="col-sm-3">
				{{shipping}}
			</div>
		</div>
		<div class="row add-space">
			<div class="col-sm-3 col-sm-offset-6">
				Total:
			</div>
			<div class="col-sm-3">
				{{total}}
			</div>
		</div>
	{{else}}
		<div class="row add-space">
			<div class="col-sm-12 text-center">You don't have any items in your cart.</div>
		</div>
	{{/if}}
    {{#if itemsInCart}}
        <div class="row add-space">
            <div class="col-sm-3 col-sm-offset-9">
                <button type="button" class="btn btn-primary" id="checkOut">Check Out</button>
            </div>
        </div>
    {{/if}}
</div>