<section class="container" style="margin-top: 10px;">
	{{#home_product 3 product}}
		<div class="row">
			{{#each this}}
				<div class="col-sm-4 text-center">
					<a href="{{url}}">
						<img src="https://{{mainImage}}" class="img-responsive img-rounded" alt="main image">
					</a>
					<p class="lead">{{title}}</p>
				</div>
			{{/each}}
		</div>
	{{/home_product}}
</section>