<section class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>{{headline}}</h1>
			<img src="beach01.jpeg" id="beach_lg" class="img-responsive" alt="large beach image">
			<img src="beach_small.jpg" id="beach_sm" class="img-responsive" alt="small beach image">
		</div>
	</div>
</section>