{{> header }}

<section id="about">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>This is a demo cart system</h1>
        </div>
    </div>
</div>

    {{> scripts }}
</section>

{{> footer }}