{{> header }}

<section id="order_confirmation">

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-body text-center">
						<h1>Order Confirmed</h1>
						<p class="lead">Your order #{{orderId}} has been placed.</p>
						<p class="lead">A confirmation has been sent to your email</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{{> spinner }}
{{> scripts }}
</section>

{{> footer }}