{{> head_card }}

<body id="order_confirmation">
	{{> top_menu }}

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default">
					<div class="panel-body text-center">
						<h1>Order Confirmed</h1>
						<p class="lead">Your order has been confirmed. Your confirmation number is ABC123</p>
						<p class="lead">A confirmation has been sent to your email</p>
					</div>
				</div>
			</div>
		</div>
	</div>

{{> scripts }}
</body>