{{> head_product_detail }}

<body id="productDetail">
	{{> top_menu }}

	{{> product_detail_content }}

    {{> scripts }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.min.js"></script>
</body>